.sidebar{
    position: sticky;
    top:0;
}
.spend-time{
border: 2px solid #6047EC;
padding: 10px;
color: #6047EC;
background: rgba(96, 71, 236, 0.1);;
}

.bookmark-time{
    border: 2px solid lightblue;
padding: 10px;
margin-top: 20px;
}